[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
djangorestframework = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
django-environ = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.11"
