
.show-case {
  font-size: 2rem;
  margin-bottom: 20px;
}

.form {
  max-width: 600px;
  margin: 0 auto;
}

.input-text {
  margin-bottom: 1rem;
}

.input-text input, .form-select, textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.create-image {
  margin-bottom: 1rem;
}

.create-image img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  height: 30vh;
}

.create-Btn-container {
  text-align: center;
}

.createBtn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #fcfcfc;
  color: #000000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.createBtn:hover {
  background-color: #151616;
  color: white;
}

.danger {
  color: #dc3545;
}

.bold {
  font-weight: bold;
}

.select-container {
  position: relative;
  width: 100%;
}

select {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
}

.select-container::after {
  content: '\25BC'; 
  position: absolute;
  top: 70%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}