.Browse-cars {
  width: 75%;
  margin: 0 auto;
}

.browse {
  color: white;
  padding: 10px;
}

.make-model {
  color: white;
  margin: 0;
  padding: 5px;
}

.car-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.car-item {
  box-sizing: border-box;
  width: 30%;
  margin-bottom: 20px;
}

.car-link {
  text-decoration: none;
  display: block;
  border: 2px solid #4d4d4d; 
  border-radius: 8px;
  transition: border-color 0.5s ease, transform 0.5s ease; 
  overflow: hidden;
}

.car-link:hover {
  border-color: #e3e9ed; 
  transform: scale(1.05); 
}

.car-image {
  width: 100%;
  height: 250px; 
  object-fit: cover; 
  border-radius: 8px 8px 0 0;
}


