footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: top solid black;
  align-items: center;
  padding: 0px 6px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  color: rgb(86, 86, 86);
  text-align: center;
}

.footer-h1 {
  background-color: none;
  font-size: 18px;
  padding-top: 5px;
  font-family: 'Dancing Script', cursive;
  color: white
}


.github-link {
  text-decoration: none;
  color: #ffffff;
  transition: color 1s ease;
}
.github {
  color: rgb(226, 215, 215);
}
.github-link:hover {
  color: #2224d0;
}
.footer-icon {
  text-decoration: none;
  color: #ffffff;
  margin: 10px;
  padding: 10px;
  font-size: 24px; 
  transition: color 1s ease; 
}
.footer-icon:hover {
  color: white; /* Hover color, adjust as needed */
}