header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-decoration: none;
}
.nav-item {
  margin: 10px 20px 0px 0px
}
.nav-link {
  color: white;
  transition: all 1s ease; 
}
.nav-link:hover {
  color: #8b8a8a; 
  padding: 10px; 
}