body {
  background-color: rgb(42, 38, 38);
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  margin-left: 150px;
}

.description {
  margin: 0;
  color: rgb(255, 255, 255);
  max-width: 400px;
  max-height: 850px;
  background-color: rgb(42, 38, 38);
  padding: 13px;
  box-sizing: border-box;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.img-single {
  box-sizing: border-box;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
  max-width: 700px;
  max-height: 600px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.edit-delete {
  display: flex;
  flex-direction: row;
  margin-left: 550px;
  align-items: center;
}

.single-to-edit,
.delete,
.back-button {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: all 0.3s ease;
}

.delete {
  margin: 15px;
  padding: 10px 20px;
  background-color: #dc3545;
  border: 2px solid #dc3545;
  border-radius: 8px;
}

.back-button {
  margin: 20px;
}

.back-button:hover,
.single-to-edit:hover {
  color: #dcdcdd;
  transform: translateX(5px);
}

.delete:hover {
  color: hwb(0 11% 88%);
  transform: translateX(5px);
}
